body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff220e 0%, #ffadad 100%);
    height: 100%
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.Top {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    position: space-evenly;
}

.Bottom {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    position: space-evenly;
}

.leftTopOverviewBox {
    display: flex;
    background-color: blue;
    height: 100%;
    width: 10%;
    position: space-evenly;
    flex-direction: column;
    border: 3px solid black;
}

.centerBattleFrame {
    display: flex;
    background-color: white;
    height: 100%;
    width: 80%;
    position: space-evenly;
    border: 3px solid black;
}

.rightTopOverviewBox {
    display: flex;
    background-color: blue;
    height: 100%;
    width: 10%;
    position: space-evenly;
    flex-direction: column;
    border: 3px solid black;
}

.bottomActionMenu {
    display: flex;
    background-color: red;
    height: 100%;
    width: 50%;
    position: space-evenly;
    border: 3px solid black;
}

.battleLog {
    display: flex;
    background-color: white;
    height: 100%;
    width: 50%;
    position: space-evenly;
    border: 3px solid black;
}

.playerName{
    display: flex;
    background-color: green;
    height: 60%;
    width: 100%;
    position: space-evenly;
}

.remainingPokemonBox {
    display: flex;
    background-color: yellow;
    height: 40%;
    width: 100%;
    position: space-evenly;
    flex-direction: column;
}

.remainingPokemonTop {
    display: flex;
    height: 50%;
    width: 100%;
    position: space-evenly;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.remainingPokemonBottom {
    display: flex;
    height: 50%;
    width: 100%;
    position: space-evenly;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }