/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

/* Navigation bar items */
.navbar a {
    position: relative;
    color: white;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
    font-size: 110%;
    transition: color 0.3s ease;
    white-space: nowrap;
    margin-left: 5%;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover::after,
.navbar a.active::after { /* Keeps underline on active page */
    width: 100%;
    left: 0;
}

/* Content flex box for page, holds everything below the navbar */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    position: relative;
}

/* Horizontal line in center of page*/
.content::before {
    content: '';
    position: absolute;
    top: calc(50% - 0.9375vmin); /* Adjusted to align with the Pokeball's center line */
    left: 0;
    width: 100%;
    height: 1.875vmin;
    background-color: black;
    z-index: -1; /* Place the line behind1 Pokeball */
}

/* Start buttons on home page */
.start-button {
    padding: 20px 40px;
    font-size: 18px;
    margin: 4% 0;
    background-color: white;
    border: 5px solid black;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

.start-button:hover {
    transform: scale(1.05);
}

/* Animates the pokeball wrapper */
@keyframes rollIn {
    0% {
        transform: translateX(100vw) rotate(0deg);
    }
    100% {
        transform: translateX(0) rotate(720deg);
    }
}

/* Wrapper for the pokeball (needed to use multiple effects at once) */
.pokeball-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rollIn 1.5s ease-out forwards;
}

/* Pokeball*/
.pokeball {
    height: 25vmin;
    width: 25vmin;
    border-radius: 50%;
    border: 1.875vmin solid black;
    background-image:
        radial-gradient(white 20%, white 20%, black 20%, black 30%, transparent 30%, transparent), 
        linear-gradient(red 46%, black 46%, black 54%, white 54%);
    position: relative;
    transition: transform 0.3s ease-in-out;
}

/* Allows the pokeball to expand on hover */
.pokeball:hover {
    transform: scale(1.2);
}


