/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    border-bottom: 3px solid blue; /* Do want to keep this? */
}

.navbar a {
    color: white;
    text-align: center;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 20px;
    border-right: 3px solid blue;
}

.navbar a:last-child {
    border-right: none;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar a.active {
    background-color: red;
    color: white;
    border-right: 3px solid red; /* Prevents blue border from being on the right */
}

/* Content flex box for page, holds everything below the navbar */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    position: relative;
}

/* Horizontal line in center of page*/
.content::before {
    content: '';
    position: absolute;
    top: calc(50% - 0.9375vmin); /* Adjusted to align with the Pokeball's center line */
    left: 0;
    width: 100%;
    height: 1.875vmin;
    background-color: black;
    z-index: -1; /* Place the line behind1 Pokeball */
}

/* Start buttons on home page */
.start-button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px 0;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.start-button:hover {
    transform: scale(1.05);
}

/* Pokeball on homepage */
.pokeball {
    height: 25vmin;
    width: 25vmin;
    border-radius: 50%;
    border: 1.875vmin solid black;
    background-image:
    radial-gradient(white 20%, white 20%, black 20%, black 30%, transparent 30%, transparent), linear-gradient(red 46%, black 46%, black 54%, white 54%);
  }